---
// Form
// ------------
// Description: The form component
// Properties:
// - method: The method of the form (post, get, dialog)
// - classes: Additional classes to be added to the form

// Props
type Props = {
	id?: string;
	method?: 'post' | 'get' | 'dialog'
	classes?: string
}
const { method = 'post', classes, id } = Astro.props
---

<form id={id} method={method} novalidate class:list={[{ [`${classes}`]: classes }]}>
	<slot />
</form>
