---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'

// Content
import ctaImage from '../../../assets/cta-dark-bg.webp'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Ready to book your stay?"
				text="Stay near the historic Liberty Bell in Philadelphia!"
				mode="dark"
				bg={ctaImage}>
				<Button
					size="lg"
					style="primary"
					link="https://www.choicehotels.com/en-uk/pennsylvania/philadelphia/quality-inn-hotels/pa271?hotel=pa271&mc=frmlxxpx">
					Book Now!
				</Button>
			</CTA>
			<Col span="1" />
		</Col>
	</Row>
</Section>
